# Server Configuration
PORT=3000
HOST_ADDRESS=http://localhost:4200

# JWT Secret
SUPER_SECRET=some-secret-string-generated

# MongoDB Credentials
MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MONGO_DATABASE=mongo-database-name
