mat-expansion-panel {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

mat-panel-title {
  font-weight: 700;
}

mat-expansion-panel.editing {
  background-color: lightsteelblue;
}

img.post-image {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  /* filter: drop-shadow(1px, 1px, 5px, rgba(0,0,0,0.5)); */
  /* filter: drop-shadow(10px, 10px, 5px, rgba(0,0,0,0.5)); */
  border: 2px solid black;
}

div.author-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.author-field>p.author {
  margin-right: 1rem;
}

div.author-field>p.author-email {
  font-style: italic;
  font-weight: 700;
}

button[mat-raised-button] {
  height: 2rem;
  padding: 0px;
  margin: 0 4px;
}
